
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/assets/img/slide/1.jpg)">
                <div class="container">
                    <h2>Haber sayfasına <span>hoş geldiniz </span></h2>
                    <p>
                        Okullar ne zaman açılacak? 5. 6. ve 7. sınıflar ne zaman okula gidecek? İşte yüz yüze eğitimin başlayacağı tarih!
                        Okulların ne zaman açılacağı ile ilgili araştırmalar hızlandı. Koronavirüs önlemleri kapsamında başlayan
                    </p>
                    <a href="#about" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(/assets/img/slide/2.jpg)">
                <div class="container">
                    <h2>Okullar Ne Zaman Açılacak</h2>
                    <p>Okullar Ne Zaman Açılacak ile ilgili tüm haberleri ve son dakika Okullar Ne Zaman Açılacak haber ve gelişmelerini bu sayfamızdan takip edebilirsiniz. Toplam 633 Okullar Ne Zaman Açılacak haberi bulunmuştur.</p>
                    <a href="#about" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(/assets/img/slide/3.jpeg)">
                <div class="container">
                    <h2>Okullar açılacak mı? Okullar ne zaman açılacak? MEB’ten uzaktan eğitim</h2>
                    <p>Okulların ne zaman açılacağı ile ilgili son dakika açıklamaları yakından takip ediliyor. Okullar ara tatilin ardından koronavirüs önlemleri kapsamında uzaktan</p>
                    <a href="#about" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>